* {
    box-sizing: border-box;
}

body {
    font-style: normal;
    line-height: normal;
    margin: 0px;
    /* padding: 0; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1032px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;

}
.header {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.8)) ,url("./images/header-bgc-image.png");
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #FFF;
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 207px;
    padding-right: 48px;
}
.header-position {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 0;
}

.header-nav-list {
    display: flex;
    margin-left: 168px;
    width: 325px;
    justify-content: space-between;
}

.header-nav-list + .header-nav-list-item {
    margin-left: 38px;
}
.header-nav-list-item-link {
    color: #FFF;
    font-size: 20px;
    font-family: "Inter";
    font-weight: 300;
}
.header-nav-list-item-link:hover {
    color: #94CFFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
}
.header-button {
    margin-left: auto;
}

.herosection {
    background-image: url("./images/herosectionbgcimg.png");
    background-size: cover;
    background-position: center;
    height: 740px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
    padding-bottom: 180px;
    
}
.hero-title {
    color: white;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    width: 298px;
    height: 96px;

}
.hero-second-title {
    color: white;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    width: 376px;
    height: 123px;
    margin-bottom: 42px;
}
.club-btn {
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    width: 260px;
    height: 80px;
    color: #26C7EA;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    padding: 10px 30px;

}
.hero-arrow {
    padding-left: 53px;
}
.hero-icons-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.author-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    margin-top: 75px;
    text-align: center;
    color: #0A3853;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 400;
}

.author-title {
    margin-top: 16px;
    text-align: center;
    color: #000;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
}
.author-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 10px;
}
.trailer-section {
    background-image: url("./images/trailersectionbgcimg.png");
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 740px;
    padding-top: 330px;
    padding-left: 590px;
    padding-right: 590px;
    padding-bottom: 331px;
    margin-left: auto;
    margin-right: auto;
}
.header-button {
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    width: 141px;
    height: 42px;
    color: #26C7EA;
    font-family: "HeadlandOne";
    font-size: 20px;
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 7.69px;
    padding-left: 38px;
    padding-right: 38px;
}

.trailer-link {
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    width: 260px;
    height: 80px;
    color: #26C7EA;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    padding: 25px 20px;
}


.cards-section {
    background-image: url("./images/bgc-img-cards-section.png");
    background-size: cover;
    background-position: center;
    height: 704px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.8)), url("./images/footer-bgc-img.png");
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    height: 223px;
    margin-left: auto;
    margin-right: auto;
}


